.container
.box01 {
float: left;
height: 10%;
width: 25%;

}
.box02 { 
        float:right;
}

.box05 {
           float: left;
}

.box07 {
    float:left
}

.box06{
    height: 600px;
    background-color:goldenrod

}
.box07 {
  float: left; 
  background-color: dimgrey;
}