
.container {
        width: 1920px;
    height: 1080px;
}

.box01
{
float: left;
height: 10%;
width: 30%;
background-color:lightgray
}
.box02
 { 
   
    float: right;
   
    background-color:blue
    color:azure
}
.box03
 {
    float: left;
    height: 90%;
    width: 40%;
    
    
}

.box04 
{
    float: left;

background-color:blueviolet
}

.box05
{
    float: right;

background-color:goldenrod

}



 @media only screen  and (min-width: 800px) and (max-width: 1000px){ 
     .container{  
         width: 100%; 
     } 
     /*for pc */
 } 
    

 @media only screen and (min-width: 500px) and (max-width: 800px)  { 
     .container{  
         width: 100%; 
     } 
     /*for tablet */
 } 
 
   

 @media only screen and (max-width: 500px)   { 
     .container{  
         width: 100%; 
     } 
   /* for mobile */

    
    .box01, 
    .box02, 
    .box03, 
    .box04, 
    .box05 
   
    
                       {  
                 width: 100%; 
             } 
         
          
            

            } 
            
            