* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}
.container1 {
    width: 100%;
    height: auto;
    
}

.box01 {
    height: auto;
    width: 30%;
    background-color: lightgray;
}

.box02 {

    float: right;

    background-color: blue;
    color: azure
}
.container2{
    width: 100%;
    height:auto;
}
.box03 {
    float:left;
    height: auto;

}

.box04 {
/*width: 100%;
/height: center;*/

    background-color: blueviolet
}

.box05 {
    float: right;
    height: 500px;


    background-color: goldenrod
}



@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    /*for pc */
}


@media only screen and (min-width: 500px) and (max-width: 800px) {
    .container {
        width: 100%;
    }

    /*for tablet */
}



@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
    }

    /* for mobile */


    .box01,
    .box02,
    .box03,
    .box04,
    .box05 {
        width: 100%;
    }




}