
*{box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

/*.grid > div {
    background-color: darkgrey;
    border: solid 1px #ccc;

}*/

.grid {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: reapeat(6, 1fr);
    grid-column-gap: 2px;
   
}

.header {
    text-align: center;
    margin-left: 5px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.child {
    background-color: cyan;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end:1;

}

.content {
    width:max-content;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.footer {
    border: solid 1px rgb(10, 213, 58) ;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 3;
    border-radius: 20px;
}
.aside{
    text-align: center;
}

.content2 {
    text-align: center;
    grid-column: 1;
    grid-row: 3;
}

.content3 {
    justify-content: center;
    grid-column: 2 span 4;
    grid-row: 3;
}

.content4 {
    background-color: bisque;
    border: solid 2px crimson;
    border-radius: 20px;
    text-align: center;
    grid-column: 1;
    grid-row: 4;
    height: auto;
}

.footer {
    grid-column: 2 span  ;
    grid-row: span 4 ;
}
.script {
    
    grid-column: 1;
    grid-row: 5;
}
 /*.child, .content , .content4, .footer {
    grid-column-end: 12;
}*/
